*
  margin 0
  padding 0
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing antialiased;
  -moz-osx-font-smoothing grayscale;
  text-align center;
  color #2c3e50;
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  //background-image  url("../images/bg.jpg")
  background-size 100% 100%
  background #ffffff
.cover
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  z-index 9
  background-color rgba(255,255,255,0.5)
.main-content
  width 80%
  min-height 500px
  overflow-y auto
  background #ffffff
  margin 0 auto
  padding 20px
  margin-top 80px
.hello
  margin-top 80px
.el-form-item
  margin-bottom 0
  margin-left 0
.el-form-item .el-form-item__content
  line-height inherit
.el-form-item .el-form-item__error
  padding-top 0
.m_t_30
  margin-top 30px
.m_t_90
  margin-top 90px
.m_b_60
  margin-bottom 60px
.colored-line
  background: rgba(255,162,0,1.00);
  margin: auto;
  display: block;
  width: 80px;
  height: 2px;
.section1
  width 100%
  background rgba(255,255,255,0.9)
  border-bottom: 1px solid #dadfe3;
  float left
.section1 .contanier
  width 80%
  margin 0 auto
.b_b_n
  border-bottom none
