#app
  font-family 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing antialiased;
  -moz-osx-font-smoothing grayscale;
  text-align center;
  color #2c3e50;
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  background-image  url("../images/bg.jpg")
  background-size 100% 100%
.cover
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  z-index 9
  background-color rgba(255,255,255,0.5)
.main-content
  width 80%
  min-height 500px
  max-height 800px
  overflow-y auto
  background #ffffff
  margin 0 auto
  padding 20px
