{
	"presets": ["es2015", "stage-2"],
	"plugins": ["transform-runtime"],
	"comments": false,
	"ignore":[
	    "jquery.js",
	    "jquery.min.js",
	    "angular.js",
	    "angular.min.js",
	    "bootstrap.js",
	    "bootstrap.min.js"
	]
}
